
:root {
  //Colors
  --color-primary: #353C3E;
  --color-bg: #292F31;
  --color-action: #6E9BAC;
  --color-action-secondary: #CDEF00;
  --color-active: #329E5D;
  --color-third: #D0D0D0;
  --color-text: #FFF;
  --color-warning: #8D3838;
  --color-text-light: rgba(255, 255, 255, 0.1);


  --datepicker-height: 170px;
}