
:root {
  //Colors
  --color-primary: #353C3E;
  --color-bg: #292F31;
  --color-action: #6E9BAC;
  --color-action-secondary: #CDEF00;
  --color-inactive: #AAC602;
  --color-third: #D0D0D0;
  --color-text-dark: #000000;
  --color-text: #FFF;
  --color-cancel: #F44;
  --color-cancel-inactive: #FF2424;
  --color-warning: #E7E7E7;
  --color-text-light: rgba(255, 255, 255, 0.1);


  --datepicker-height: 170px;
}